services:
  hapi-fhir-jpaserver-start:
    image: mapping:test
    restart: on-failure
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://hapi-fhir-postgres:5432/hapi"
      SPRING_DATASOURCE_USERNAME: "admin"
      SPRING_DATASOURCE_PASSWORD: "admin"
      SPRING_DATASOURCE_DRIVERCLASSNAME: "org.postgresql.Driver"
      SPRING_CONFIG_ADDITIONAL_LOCATION: "/profiles/"
      SPRING_PROFILES_ACTIVE: "mapping"
    volumes:
      - ./profiles:/profiles
    ports:
      - "8080:8080"
    depends_on:
      hapi-fhir-postgres:
        condition: service_healthy
  hapi-fhir-postgres:
    image: postgres:16-alpine
    container_name: hapi-fhir-postgres
    restart: always
    environment:
      POSTGRES_DB: "hapi"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U admin -d hapi' || exit 1"]
      interval: 10s
      timeout: 5s
      start_period: 5s
      retries: 5
    volumes:
      - hapi-fhir-postgres:/var/lib/postgresql/data

volumes:
  hapi-fhir-postgres:
